<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head', {title: 'admin' }); %>
</head>



<body class="bg-dark">
    <section class=" section-full-screen ">
        <%- include('partials/adminPainel') %>
        <div class="container p-3">
            <div class="row text-center">
                <h3 class="text-white"> Criar Usuário </h3>
            </div>
            <div class="row justify-content-center p-3">
                <div class="col-md-6">
                    <form action="/admin_register?_method=PUT" method="POST" id="registerForm" class="singin-form">
                        <div class="form-group ">
                            <input name="name" type="text" placeholder="Usuário" class="form-control mb-4"
                                autocomplete="one-time-code" required>
                        </div>
                        <div class="form-group ">
                            <input name="email" name="email" type="email" placeholder="Email"
                                class="form-control mb-4" autocomplete="one-time-code" required>
                        </div>
                        <div class="form-group">
                            <input name="password" id="password" type="password" class="form-control mb-4"
                                placeholder="Senha" required>
                        </div>
                        <div class="form-group">
                            <input id="confirm_password" type="password" class="form-control"
                                placeholder="Confirme sua senha" onkeyup="check();" required>
                            <span id="message"></span>
                            <div class="form-group text-center">
                                <button type="submit" class="form-control btn btn-color rounded submit mt-3"> 
                                    Cadastrar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="bg-darkpurple border-2 border-top " />
            <div class="row text-white text-center justify-content-center">
                <% if(locals.message.token) { %>
                    <h3> Token de Cadastro </h3>
                    <p class="fs-5 mb-1">  Token gerado: </p>
                    <h1>
                        <%= locals.message.token %>
                    </h1>
                <% } else { %>
                    <h3> Token de Cadastro </h3>
                    <span> O token é usado para criar novas contas associadas a sua empresa. </span>
                    <div class="col-md-3">
                        <form action="/generate_convitetoken?_method=PUT" method="POST">
                            <button type="submit" class="form-control btn btn-color rounded submit mt-3"> 
                                Gerar Token
                            </button>
                        </form>
                    </div>
                <% } %>
                
                
            </div>
        </div>
        <%- include('components/modal/notification.ejs', { message: locals.message }); %>
    </section>
    
    <script src="https://kit.fontawesome.com/49ddb56ecf.js" crossorigin="anonymous"></script>
    <script src='/js/adminRegister.js'></script>
</body>