<!DOCTYPE html>
<html>


  <head>
    <%- include('partials/head', {title: 'Autorização' }); %>
  </head>

  <body class="bg-image">
    <section class="st-section">
      <div class="container text-center p-2">
        <div class="row">
          <div>
            <span class="text-shadow text-white rounded fs-3 bold px-2"> Insira o token da CIPA </span>

          </div>
        </div>
        <div class="row mt-2">
          <form method="POST" action="/autorizar_finalizar/<%= codfilial %>/?_method=PUT">
            <p>
              <input class="bg-dark p-2 text-white rounded border text-center " name="token" type="password" minlength="6"
                maxlength="6" required>
            </p>
            <% if (message.error) { %>
              <p>
                <small class="text-danger fs-5 text-shadow bold">
                  <%= message.error %>
                </small>
              </p>
            <% } %>
                <button class="btn-small btn-success" type="submit">Acessar</button>
          </form>
        </div>
      </div>
    </section>

    <script src='/js/rs.js'></script>
  </body>

</html>