<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head', {title: 'Não Verificado' }); %>
</head>



<body class="bg-image">
    <section class="st-section ">
        <div class="container rounded bg-white shadow py-4">
            <div class="row">
                <div class="text-center mb-3">
                    <h3> Conta não verificada </h3>
                </div>
            </div>
            <div class="row ">
                <div class="text-center">
                    <p class="fs-5"> Para utilizar o sistema com esse login, entre em contato com o seu administrador.
                    </p>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button class="btn btn-color" type="submit"> Sair </button>
                    </form>
                </div>
            </div>

        </div>
    </section>
</body>
</html>