<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head', {title: 'Login'}); %>
</head>

   

<body>
 <section class="st-section">
     <div class="container ">
        <div class="row justify-content-center "> 
        <div class="col-md-6 text-center mb-5">
           <h2 class="title brand text-darkgreen text-shadow"> CIPA </h2> 
        </div>
        <div class="row justify-content-center"> 
            <div class="col-md-6 shadow rounded bg-white">
                <h2 class=" mb-4"> </h2>
                <div class="login-wrap  p-md-3">
                   <div>

                   </div>
                </div>
                
            </div>
            
        </div>
        </div>
     </div>
    </div>
 </section>
    
 <script src='js/login.js'></script>
 <script src="https://kit.fontawesome.com/49ddb56ecf.js" crossorigin="anonymous"></script>
</body>
</html>