<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head', {title: 'Voto Finalizado'}); %>
</head>

<body>
 <section class="st-section">
     <div class="container text-center bg-white p-2">
        <div class="row"> 
            <% if(locals.message.nome){ %>
            <h2> Voto de <text class="text-capitalize fw-bold"><%=  message.nome[0].toLowerCase() %></text> da gestão <%= gestao %> realizado com sucesso, Obrigado!</h2>
            <% } %>    
        </div>
        <div class="">
            <p class="fs-3">
                A página será redirecionada em:
            </p>
            <h2 id="counter" class=""></h2>
            <div class="loader m-auto">
            </div>

            <audio autoplay loop>
                <source src="/audio/barulho-voto.mp3" type="audio/mpeg">
                O seu navegador não suporta o elemento <code>audio</code>.
            </audio>
        </div>
    </div>
 </section>
    
 <script src='/js/fimVoto.js'></script>
</body>
</html>