<div id="loadingscreen" class="loader-modal">
  <div class="text-center position-relative" style="height: 100%;">
      <div class="loader position-absolute " style="left: 47%; top: 28% !important;">

      </div>
  </div>
</div>