<% if (message.notification ) { %>
    <div class=" bg-success notification text-white border">
        <div class="row py-3 px-4 text-center">
            <%= message.notification %>
        </div>
    </div>
<% } %>