<% if (message.notification ) { %>
    <div class=" bg-success py-3 px-5 notification text-white border">
        <div class="row align-items-center">
            <%= message.notification %>
        </div>
    </div>
<% } %>