<header> 
    <nav class="bg-darkpurple ">
        <div class="container-nav">
            <a class="brand brand-color" href="/"> 
                CI
             </a>   
                <ul class="nav">
                    <li class="nav-item">
                        <a class="btn brand-color" href="/perfil"> 
                            Conta 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn brand-color" href="/"> 
                            Gestão 
                        </a>
                    </li>
                </ul>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <form action="/logout?_method=DELETE" method="POST">
                        <button class="btn brand-color" type="submit"> Sair </button>
                        </form>
                     </li>
                </ul>
        </div>
    </nav>
</header>